* {
    margin: 0;
    padding: 0;
}
/*--------------------------GENERAL STYLES-------------------*/
.display-flex {
    display: flex;
}
.display-block {
    display: block;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.justify-center {
    justify-content: center;
}
.border {
    border: 1px solid #000;
}
button {
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
}

/*-------------------------HEADER STYLES---------------------*/
header {
    background-color: #ff69b4;
    margin-bottom: 40px;
    text-align: center;
}
/*-------------------------CONTENT STYLES---------------------*/
.content {
    padding: 0px 60px;
}
/*-------------------------TABLE STYLES---------------------*/
.list-controls {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.list-controls button {
    margin: 10px;
}
.new-name {
    display: none;
    margin: 20px;
}
.new-name label{
    font-size: 20px;
    font-weight: bold;
}
.new-name input{
    height: 25px;
    width: 300px;
}
.table {
    margin-bottom: 30px;
}
.table-row {
    width: 465px;
    margin: 0 auto;
}
.table-row:hover {
    cursor: pointer;
    background-color: #ff69b4;
}
.table-row .id, .table-header .id {
    width: 30px;
    padding: 5px;
}
.table-row .name, .table-header .name {
    width: 400px;
    padding: 10px;
}
.selected {
    background-color: #ff69b4;
}